@model LoginViewModel

<h2>
    Login User
</h2>

<form>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
    </div>

    <div class="form-check">
        <input asp-for="RememberMe" class="form-check-input">
        <label asp-for="RememberMe" class="form-check-label">Beni Hatırla</label>
    </div>
    <button type="submit" onclick="submitForm()" class="btn btn-primary">Login</button>
</form>


<script>
    function submitForm() {
        debugger;

        debugger;
        var model = {
            Email: $('#Email').val(),
            Password: $('#Password').val(),
            RememberMe: $('#RememberMe').prop('checked')
        };

        $.ajax({
            url: '/Account/Login',
            type: 'POST',
            data: model,
            success: function (data) {
                // Başarılı yanıt alındığında yapılacak işlemler
                console.log(data);
            },
            error: function (error) {
                // Hata durumunda yapılacak işlemler
                console.log(error);
            }
        });
    }
</script>