@{
    ViewData["Title"] = "Rol Sayfası";
}

@model IEnumerable<AppRole>

    <a class="nav-link btn btn-secondary text-light" asp-area="" asp-controller="Roles" asp-action="Create">Rol Yarat</a>


<div class="table-container">
    <table class="table table-bordered table-striped text-light">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
