@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="styles.css" /> <!-- Stil dosyanızın yolu -->
</head>
<body>
    <div class="text-center custom-background">
        <h1 class="display-4 custom-text">Welcome</h1>

        <iframe class="custom-video" width="560" height="315" src="https://www.youtube.com/embed/watch?v=88XxC0_zs74" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
